@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-titles: "Bebas Neue", sans-serif;
  --font-body-text: "Montserrat", sans-serif;
  --font-headers: "Big Shoulders", sans-serif;
  font-family: var(--font-body-text);
  line-height: 1.5;
  font-weight: 400;

  background-color: #290909;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-titles);
  font-weight: 400;
  font-size: 110px;
  color: #ffffff;
}

h2 {
  font-family: var(--font-headers);
  font-size: 60px;
  color: #ffffff;
  font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
